



<div class="search_post">

   <div > 
    <marquee direction="doown"><h1 class="line_line2">　　　　　　　</h1></marquee>
  </div>
  <div class ="list_list">
        <div class = "list" >
          <% @posts.each do |post| %>
            <li>
              <ul><%= link_to "● #{post.text}", post_path(post), class: "listul" %></ul>
            </li>
          <% end %>
          <%# <div class = "page">
            <%= paginate @posts %>
          <%# </div>   %> 
        </div> 
  </div>

      <div>
        <marquee direction="right"><h1 class="line_line">　　　　　　　</h1></marquee>
      </div>
      <div class ="btnd btnd--shadow showfooter showfootera">
        <%=link_to 'home', root_path, class:"btnd btnd--shadow" %>
      </div>
</div>    
