/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 
.pagination {
  justify-content: center;
  font-size: 10px;
  margin-top: 20px;
  background-color: #F5DEB3;
}

.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: maroon;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {  
  background-color: #F5DEB3;
  border-radius: 5px;   
      /*背景の色を変える*/
      /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 5px;
  background-color: maroon;
  color: #F5DEB3;
  transition: 1s;    /*角を丸くする*/
}

.page-link{
  background-color: #F5DEB3;
  border-radius: 5px; 
}

// .bg-primary{
//   background-color: maroon;
// }

// .nav-pills .nav-link.active{
//   background-color: maroon;
// }

.pageactive.pagination:hover{
  background-color: maroon;
  color: white;
}

