/* input[type="submit" i] {
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
} */


header{
  position:fixed;
  top:0;
  z-index:10;
  color:maroon;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
  color: maroon;
}

button{
  appearance: none;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 10px 0 50px 0;
  background-color:#F5DEB3;
  background-size: cover;
  background-position: center;
  width:100%;                          
  height:100%;
  color:black;
  text-align: center;
  min-height: 100vh;
}

header {
  height: 65px;
  width: 100%;
}

/* btn */
a.btnd {
  color:#F5DEB3;
  background-color: maroon;
  padding:  10px;
  border-radius: 5px;
  text-decoration: none;
}
.btnd input{
  color:#F5DEB3;
  background-color: maroon;
  padding:  7px;
  border-radius: 5px;
  text-decoration: none;
}

.btnda:hover {
  margin-top: 3px;
  color: maroon;
  background: #F5DEB3;
  transition: 1s;
}
.btnda{
  color:#F5DEB3;
  background-color: maroon;
  padding:  7px;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px 50px ;
  margin-right: 50px;
}

.keyord_rootmain{
  display: inline-flex;
  margin-top: 50px;
}

.btnd--shadowa {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.btnd span{
  color:#F5DEB3;
  background-color: maroon;
  padding:  7px;
  border-radius: 5px;
  text-decoration: none;
}

.btnd a{
  color: #F5DEB3;
}
.btnd input{
  color: #F5DEB3;
}
a.btnd:hover {
  margin-top: 3px;
  color: maroon;
  background: #F5DEB3;
  transition: 1s;
}
.btnd input:hover {
  
  color: maroon;
  background: #F5DEB3;
  transition: 1s;
}
.btnd span:hover {
  
  color: maroon;
  background: #F5DEB3;
  transition: 1s;
}
.btnd--shadow input{
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}
.btnd--shadow span{
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}
a.btnd--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}



/* index */

.indextop{
  margin-top: 50px;
  margin-bottom: 100px;
}
.glass1 {
  margin: 50px 0 100px 0;
  height: 150px;
  text-align: center;
}
.glass1 h1{
  margin: 0;
  text-align: center;
  padding-top: 50px;
  font-size: 150px;
  line-height:1;
  font-weight:bold;
  width: 80%;
  margin-left: 100px;
  height: 80%;
  margin-bottom: 50px;
}
.glass h1{
  font-size: 80px;
  padding-bottom: 100px;
  padding-top: 70px;
  margin-top: 100px;
}

.indexsp{
 margin-top: 200px;
}
.sp5{
  margin-top: 150px;
}
.glass2 h1{
  font-size: 50px;
  padding-bottom: 38px;
  padding-top: 80px;
}

.line_line{
  border-bottom:solid 30px maroon;
  width: 2000px;
}
.line_line2{
  border-bottom:solid 30px maroon;
  width: 2000px;
}

.wordbtn{
  display: inline-block;
  margin-right: 50px;
  background-color: maroon;
  width: 150px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  padding:5px 10px;
}

.wordbtn:hover{
  color:white;
  transition: 1s;
  opacity: 0.5;
}

.wordbtn a{
  text-decoration: none;
  color:#F5DEB3;
}

.wordbtnspan{
  text-align: center;
  text-decoration: none;
}
.wordbtnspan:hover {
  color: #F5DEB3;
}

.listul {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80%;
}

.listul{
  word-break: break-word;
  width: 80%;
}
.listul a{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100px;
}

.textpostina{
  font-size: 20px;
  margin-right: 40px;
  height: 50px;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
  padding-top: 10px;
}

.header-right {
  float: right;
  color: maroon;
  transition: all 1s;
  text-decoration: none;
}

.header-right:hover {
  background-color: maroon;
  color: #F5DEB3;
  border-radius: 5px;
}

.login a{
  text-decoration: none;
  color: maroon;
}


li{
  list-style-type: none; 
  margin-left:50px;
}

.list{
  text-align: left;
  font-size: 20px;
  width: 80%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  
}
.list_list{
  margin-left: 100px;
}

.list_list a{
  height: 32px;
  color: #770000;
  font-size: 20px;
  padding: 5px;
}
.list_list a:hover{
  color: #F5DEB3;
  padding: 5px;
  border-radius: 5px;
 background-color: maroon;
 font-size: 20px;
 transition: 3s;
 -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.list ul{
  display: inline-block;
  margin-right: 50px;
  /* background-color: maroon; */
  width: 150px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  padding:5px 10px;
}

.list a{
  color: maroon;
  text-decoration: none;
  
}

.page{
  text-align: center;
}
.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color:maroon;
  display: block;
  text-decoration: none;
}

.header-right a:hover{
  color: #F5DEB3;
  text-decoration: none;
}

.header:hover{
  text-decoration: none;
  color: #F5DEB3;
}

.about{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height:1;
  width: 500px;
}
.how{
  margin-left: auto;
  margin-right: auto;
  line-height:1;
  text-align: left;
  width: 500px;
  padding-top: 100px;
}

/* post.show */

.tweet_show{
  padding: 10px 0 50px 0;
  background-color:#F5DEB3;
  background-size: cover;
  background-position: center;
  width:100%;                          
  height:100%;
  color:black;
  text-align: center;
}
.here{
  font-size: 40px;
}
.tweet{
  
  margin: 50px auto;
  font-size: 50px;
  width: 70%;
  text-align: center;
}

.tweet_btn{
  float: righ1t;
  display: inline-block;
  padding: 8px 24px;
  color: white;
  background-color: #770000;
  opacity: 0.8;
  border-radius: 4px;
  width: 200px;
  text-align: center;
  opacity: 1;
  margin-top: 250px;
}
.tweet_btn:hover{
  opacity: 0.5;
}
.tweet_btn a{
  color: white;
  text-decoration: none;
}
.fa{
  margin-bottom: 5px;
  padding-right: 10px;
  font-size: 24px;
}

.tweeta {
  text-decoration: none;
  color: #F5DEB3;
}

.tweeta:hover{
  color: #770000;
  transition: 1s;
}
/* posts */
.keyword_parent{
  padding: 10px 0 50px 0;
  background-color:#F5DEB3;
  background-size: cover;
  background-position: center;
  width:100%;                          
  height:100%;
  color:black;
  text-align: center;
  min-height: 100vh;
}

.keyword_childe{
  height: 150px;
}

.keyword_root{
  height: 100px;
  padding-top: 30px;
}

.keyword_list{
  text-align: center;
  height: 100px;
}

/* post_new */
.new_post{
  padding: 10px 0 50px 0;
  background-color:#F5DEB3;
  background-size: cover;
  background-position: center;
  width:100%;                          
  height:100%;
  color:black;
  min-height: 100vh;
  text-align: center;
}

.startbutton{
  display: inline-block;
  margin-right: 20px;
  background-color: maroon;
  width: 150px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  padding:5px 10px;
  color: #F5DEB3;
}

.startbutton:hover{
  color:white;
  transition: 1s;
  opacity: 0.5;
}

.startbutton a{
  text-decoration: none;
  color:#F5DEB3;
}

.startbutton a:hover {
  color: #F5DEB3;
}
.timer{
  font-size: 100px;
  color: black;
}

.timer h3{
  font-size: 50px;
}

.sp{
  padding: 50px;
}
.post_tweet{
  margin-top: 50px;
}

.yourorder{
  margin:50px 0 50px 0 ;
}
.yourorderlist{
  font-size: 70px;
  text-align: center;
}

.count_time{
  display: inline-flex;
}

.timemain{
  margin-right: 100px;
}
.timemain button{
  padding-right: 100px;
  color:#F5DEB3;
  background-color: maroon;
  padding:  10px;
  border-radius: 5px;
  text-decoration: none;
  
}

.timemain button:hover {
  /* margin-top: 3px; */
  color: maroon;
  background: #F5DEB3;
  transition: 1s;
}

  button.btnd--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.buttons{
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.sp2{
  padding-bottom: 30px;
}

.sp3{
  margin-bottom: 50px;
}

.sp4{
  margin-top: 100px;
}

.textpost{
  margin-top: 40px;
}
.textpostin{
  border: 2px solid maroon;
  border-radius: 5px;
}

.textpostin:focus{
  background-color: maroon;
  color: #F5DEB3;
}
.tbtn{
  background-color: maroon;
  color: white;
  text-decoration: none;
}

.expressparent{
  display: inline-flex;
}

.express{
  padding-right: 100px;
}

.express h2{
  font-size: 40px;
  margin-bottom: 40px;
}

.add select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}

.add h5{
  color: #F5DEB3;
}

.add:hover{
  background-color: maroon;
  border-radius: 20px;
}


.btn,
.btn,
button.btn .keyword_root{
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  border-radius: 0.5rem;
}

.btn--maron,
.btn--maron .keyword_root{
  color:white;
  background-color:maroon;
}

.btn--maron:hover,
.btn--maron:hover .keyword_root{
  color: #fff;
  background: maroon;
}

/* keyword_index */
.keywordchild{
  display: inline-flex;
  margin-right: 50px;
  margin-top: 10px;
}

.keyword_childe{
  width: 80%;
  margin: auto;
  font-size: 20px;
}

.show_footer{
  display: inline-flex;
  margin-top: 50px;
}

.showfooter{
  margin-right: 100px;
}

.showfootera a{
  margin-top: 20px;
  margin-left: 100px;
  font-size: 20px;
}

.aaaa{
  margin-bottom: 100px;
}

/* search */
.search_post{
  padding: 10px 0 50px 0;
  background-color:#F5DEB3;
  background-size: cover;
  background-position: center;
  width:100%;                          
  height:100%;
  color:black;
  text-align: center;
}

/* word_edit */
.word_edit{
  padding: 10px 0 50px 0;
  background-color:#F5DEB3;
  background-size: cover;
  background-position: center;
  width:100%;                          
  height:100%;
  color:black;
  text-align: center;
}

.word_edit_list{
  text-align: center;
  margin: 80px auto 0 auto;
  width: 70%;
  font-size: 25px;
}

/* signup */
.signup{
  text-align: center;
}
.textcenter{
  margin: auto;
  padding: auto;
  text-align: center;
}
.textcenter input{
  margin:  10px auto 10px auto;
}
.textlink span{
  margin:10px auto 10px auto;
}

.textlink a{
  text-decoration: none;
}
.textlink a:hover{
  color: #770000;
}